*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    overflow-x: hidden;
}
h2{
    line-height: 24px;
    font-weight: 500;
}
.endereco{
    margin-top: 40px;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
header{
    background-color: #192a56;
    padding-top: 16px;
    color: #fff;
}
header{
    position: static;
    top: 0;
    left: 0;
}
header > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
}




h2{
    margin-bottom: 16px;
}



section{
    padding: 48px 0;
}


button:hover{
   background-color: #3c45c1;
}

div>label{
    margin-bottom: 4px;
}
.form-campo{
    margin-bottom: 16px;
}

.form-campo label{
    display: block;
}

.form-campo input{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    outline-color: #575fcf;
    border: 1px solid #1a1d46;
} 
form{
    width: 360px;
    margin: auto;
}
form button{
    width: 120px;
    padding: 8px;
    background-color: #575fcf;
    border: none;
    color: #fff;
    border-radius: 5px;
}

footer li{
    margin-left: 16px;
    list-style: none;
}

footer li img{
    height: 32px;
}

